:root {
  --trammel-dot-delay: .25s;
}

* {
  box-sizing: border-box;

}

.exeg-icon {
	opacity: 0.2;
}

html {
  background-color: black;
}

body, html {
  margin: 0 0;
	padding: 0 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  width: 100%;
  height: 100%;
  height: 100vh;
  width: 100vw;
  overlow: hidden;
}

.gradient-wrapper{
  position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    padding:0;
    margin:0;
    overflow: auto;
}

.jumbotron {
  position: absolute;
  z-index: 10;
  padding: 0 0;
  margin: auto auto;
  overflow: hidden;
  text-align: center;
  display: block;
  align-items: center;
  color: white;
  height: 100%;
  width: 100%;
  background: black;
  z-index: 1000;
}

header {
  position: absolute;
  z-index: 600;
  transition-timing-function: ease-in-out;
}

header h2, header h3 {
  color: white;
  font-size: 15px;
  margin: 0 0;
  padding: 0 0;
}

header h2 {
  text-transform: uppercase;
  font-size: 22px;
  font-family: lato, roboto, sans-serif;
  font-weight: bold;
}

header h3 {
  font-size: 15px;
  font-family: lato, roboto, sans-serif;
  font-weight: 200;
}

#a-nav {
  margin-top:15px;
}

.titles {
  cursor: pointer;
  margin-top: 5px;
  color: black;

}

#home-nav {
  width: 100%;
  font-size: 15px;
  margin-top: -100px;
  padding-top: 0px;
}

#home-nav * {

}

@media only screen and (max-width: 1047px) {
  .titles {
    width: 49%;
  }

  #home-nav nav {
    float: right;
    width: 49%;
    padding: 0 0;
  }


  /*#main-nav span  {
    width: 25%;
    padding: 0 0;
  }

  #main-nav a {
    padding: 0 0;
    margin: 0 0;

  }*/

}

#contact-nav {
  padding-top: 10px;
  padding-right: 0;
  height: 40px;
  width: 100%;
  font-size: 15px;
  opacity: 0;
}



#contact-nav nav {
  padding: 0 0;
  display: block;
}

#about-nav {
  width: 100%;
  font-size: 15px;
  opacity: 0;
}

#about-title {
  font-family: lato, roboto, sans-serif;
  text-align: left;
  font-size: 35px;
  color: white;
  -webkit-text-shadow: 0.25px 0.25px 0.25px black;
  text-shadow: 0.25px 0.25px 0.25px black;
  filter: drop-shadow(1px 1px 0.5px rgba(0,0,0,0.5));
  margin: auto 5%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 200px;
  display: block;
}

#about-title span {
  opacity: 0;
}
#about-title-two {
  font-family: lato, roboto, sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 35px;
  color: black;
  margin: auto;
  width: 90%;
  padding: 10px;
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 130px;
  opacity: 0;
}

#about-title-wrap {
  padding: 0 0px;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0;
  height: 100%;
  width: 40%;
  float: left;
  z-index: 200;
  background-color: black;
}

#img-div-wrapper {
  position: absolute;
  right: 0;
  height: 100%;
  width: 60%;
  box-shadow: -3px 0px 20px #8d8d8d;
  overflow: hidden;
  background-color: white;
}

#about-img-wrap {
  box-shadow: inset 3px -5px 20px #8d8d8d;
  position: absolute;
  bottom: 0;
  /*background: url("../images/about-me.jpg") no-repeat 60% bottom;*/
  background-size: cover;
  width: 100%;
  height: 100%;
  margin: 0 0;
  opacity: 0;
  z-index: 300;
}

#about img {
  width: 50%;
}

#about-row {
  height: 100%;
  width: 100%;
}

#home-nav span a, #contact-nav span a {
  color: white;
  margin-top: -25px;
  margin-bottom: -15px;
  margin-left: auto;
  padding: 0px 10px;
  font-size: 15px;
  font-weight: 100;
  font-family: lato, roboto, sans-serif;
  text-decoration: none;
  transition: .2s ease;
  cursor: pointer;
  transition: .2s ease;
}

#about-nav span a {
  color: darkslategray;
  margin-top: -25px;
  margin-bottom: -15px;
  margin-left: auto;
  padding: 0px 10px;
  font-size: 15px;
  font-weight: 200;
  font-family: lato, roboto, sans-serif;
  text-decoration: none;
  transition: .2s ease;
  cursor: pointer;
}

#home-nav span a:hover, #contact-nav span a:hover, #about-nav span a:hover {
  color: #337ab7;
  cursor: pointer;
}

#contact-footer {
  opacity: 0;
  display: block;
  position: absolute;
  bottom: 0;
}

nav {
  margin-right: 0;
  float: right;
  display: block;
  padding-right: 0;
  padding-left: 0;
}

nav div {
float: right;
}

/*.jumbotron, body, html {
  position: relative;
  z-index: 10;
  padding: 0 0;
  margin: 0 0;
  height: 100% !important;
  width: 100% !important;
  overflow: hidden;
}*/

/*.jumbotron {
  text-align: center;
  display: flex;
  align-items: center;
  color: white;
  height: 100%;
  width: 100%;
  background: black;
  z-index: 1000;
  /*position: relative;*/
}*/

#about-jumbotron {
  background: black;
  color: white;
  height: 100%;
  width: 100%;
}

#about-container-one {
  position: absolute;
  top: 0;
  bottom: 0;
}

.jumbotron div {
  display: block;
  margin: auto;
}

.jumbotron div div{
  display: block;
  margin: auto;
}

.jumbotron h2 {
  margin: auto;
  text-transform: uppercase;
  font-size: 25px;
  font-family: lato, roboto, sans-serif;
  font-weight: bold;
  color: #fff;
  -webkit-animation: h2 2s, fade 2s 8s; /* Safari 4+ */
  -moz-animation:    h2 2s; /* Fx 5+ */
  -o-animation:      h2 2s; /* Opera 12+ */
  animation:         h2 2s;
  animation-timing-function: ease-in-out;
}

.jumbotron h3 {
  position: absolute;
  right: 0;
  left: 0;
  top: 52%;
  transition: 3s ease;
  margin: auto;
  font-size: 17px;
  color: #fff;
  font-family: lato;
  font-weight: 300;
}

.jumbotron h3 span:first-of-type {
  -webkit-animation: h3 5s; /* Safari 4+ */
  -moz-animation:    h3 5s; /* Fx 5+ */
  -o-animation:      h3 5s; /* Opera 12+ */
  animation:         h3 5s;
}

.jumbotron h3 span:nth-of-type(2) {
  -webkit-animation: h3 6s; /* Safari 4+ */
  -moz-animation:    h3 6s; /* Fx 5+ */
  -o-animation:      h3 6s; /* Opera 12+ */
  animation:         h3 6s;
}

.jumbotron h3 span:last-of-type {
  -webkit-animation: h3 7s; /* Safari 4+ */
  -moz-animation:    h3 7s; /* Fx 5+ */
  -o-animation:      h3 7s; /* Opera 12+ */
  animation:         h3 7s;

}

@-webkit-keyframes h2 {
  0% {opacity: 0; transform: scale(1.2); -webkit-transform: scale(1.2); -moz-transform: scale(1.2);}
  100% {opacity: 1; transform: scale(1.0); -webkit-transform: scale(1.0); -moz-transform: scale(1.0);}
}

@-moz-keyframes h2 {
  0% {opacity: 0; transform: scale(1.2); -webkit-transform: scale(1.2); -moz-transform: scale(1.2);}
  100% {opacity: 1; transform: scale(1.0); -webkit-transform: scale(1.0); -moz-transform: scale(1.0);}
}

@-o-keyframes h2 {
  0% {opacity: 0; transform: scale(1.2); -webkit-transform: scale(1.2); -moz-transform: scale(1.2);}
  100% {opacity: 1; transform: scale(1.0); -webkit-transform: scale(1.0); -moz-transform: scale(1.0);}
}

@-webkit-keyframes h3 {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@-moz-keyframes h3 {
  0% {opacity: 0; transform: scale(1.2); -webkit-transform: scale(1.2); -moz-transform: scale(1.2);}
  100% {opacity: 1; transform: scale(1.0); -webkit-transform: scale(1.0); -moz-transform: scale(1.0);}
}
@-o-keyframes h3 {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@-webkit-keyframes fade {
  0% {opacity: 1;}
  100% {opacity: 0;}
}
@-moz-keyframes fade {
  0% {opacity: 1;}
  100% {opacity: 0;}
}
@-o-keyframes fade {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@-moz-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@-o-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 600;
}

#home-footer{
margin-bottom: -100px;
}

#about-footer {
opacity: 0;
}

footer img {
 display: inline-block;
 margin-top: 10px;
 margin-bottom: 10px;
 cursor: pointer;
 opacity: .7 !important;
 transition: .3s ease;
}

footer img:hover {
 opacity: 1 !important;
 transform: scale(1.2);
}

footer img:first-of-type {
 margin-left: 65px;
 margin-right: 20px;
}

footer img:last-of-type {
 margin-right: 65px;
 margin-left: 20px;
}

footer div {
  display: block;
  margin: auto;
  max-width: 240px;
}

#logo-icon {
  position: absolute;
  margin: 10% 0px 0px 10%;
  transform: scale(1.1);
}

/*#contact-top {
  position: absolute;
  margin: auto auto;
  width: 100%;
  height: 50%;

}*/

.col-md-6 {
  margin: 0 0 30px;
}

.projects {
  display: block;
  width: 100%;
  height: 60%;
  position: absolute;
  top: 20%;
  bottom: 20%;
}

.project-rows {
  position: relative;
  z-index: 500;
  display: flex;
  min-width: 320px;
  max-width: 605px;
  height: 50%;
  margin: auto;
}

.project-figure {
  display: block;
  opacity: 0;
  margin: 0 1%;
  padding: 0 1px;
  background: black;
  position: relative;
  width: 50%;
  height: 100%;
  max-width: 300px;
  cursor: pointer;
  transition: .3s ease;
  z-index: 500;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.2); /* Semi-transparent background */
  backdrop-filter: blur(10px); /* Blur effect */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Shadow for depth */
  color: black;
}

.project-figure:hover {
  background: black;
  position: relative;
  transform: scale(1.02);
  box-shadow: 0px 0px 20px #8d8d8d;
}

.project-figure.one {
  animation: fadeIn 1.5s ease-in-out 0.2s;
  animation-fill-mode: forwards;
}

.project-figure.two {
  animation: fadeIn 1.5s ease-in-out 0.4s;
  animation-fill-mode: forwards;
}

.project-figure.three {
  animation: fadeIn 1.5s ease-in-out 0.6s;
  animation-fill-mode: forwards;
}

.project-figure.four {
  animation: fadeIn 1.5s ease-in-out 0.8s;
  animation-fill-mode: forwards;
}

.projects h2 {
  color: white;
  font-family: lato, roboto, sans-serif;
  font-weight: 700;
  text-transformation: uppercase;
  margin: 10px 0;
  margin-left: 10px;
}

.projects p {
  max-width: 50%;
  color: white;
  font-size: 13px;
  font-family: lato, roboto, sans-serif;
  font-weight: 300;
  margin: 0 0;
  padding-left: 15px;
  float: left;
}

.project-figure img {
  position: absolute;
  display: block;
  bottom: 5px;
  right: 5px;
  width: 20%;
  opacity: 1;
}

.two img {
  filter: grayscale(100%) contrast(175%);
}

.left {
  float: left;
}
.right {
  float: right;
}
.bottom {
  bottom: 0;
}
.top {
  top: 0;
  margin-top: 1%;
}

#contact-text {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto auto;
  width: 90%;
  height: 100px;
  font-family: lato, roboto, sans-serif;
  font-weight: 300;
  font-size: 1.7em;
  width: 90%;
}

#contact-text p a {
  transition: .2s ease-in-out;
}

/*#contact {
 height: 100% !important;
 width: 100%;
 background-color: rgba(215, 215, 215, 1);
 box-shadow: 0px -1px 20px #8d8d8d;
 padding-bottom: 80%;
 font-family: lato;
}*/

#skill-btn {
  transform: rotate(270deg);
  position: absolute;
  left: -100px;
  top: 0;
  bottom: 0;
  margin: auto;
  color: white;
  font-size: 17px;
  font-family: lato, roboto, sans-serif;
  font-weight: 600;
  text-align: center;
  padding: 5px;
  width: 100px;
  height: 35px;
  z-index:100;
  cursor: pointer;
  border: none;
  opacity: .9;
  transition: .3s ease-in-out;
}

#skill-btn:hover {
   opacity: 1;
}

/*skills*/

.skl {
  font-family: lato, roboto, sans-serif;
  color: white;
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
  padding: 5px 5px;
  margin: 2px 5px;
  opacity: 0;
  overflow: hidden;
}
.skl h3 {
  position: absolute;
  top: 40%;
  bottom: 33%;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
  font-size: 15px;
}

.skl-wrapper {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto auto;
  max-width: 230px;
  height: 90%;
  overflow: scroll;
  overflow-x: hidden;
}

.skl-wrapper::-webkit-scrollbar {
    width: 1px;
    background: black;
    display: none;
}

#contact-text a {
  color: white;
  text-decoration: none;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

#contact-text a:hover {
  text-shadow: 0.25px 0.25px 0.25px #000000;
  text-decoration: none;
  color: #337ab7;
}

/*apps*/

.app-footer {
  width: 240px;
  position: fixed !important;
  margin: auto auto;
  z-index: 3000;
}

.app-header {
  position: fixed !important;
}

.apps {
 width 100%;
 height: auto;
 overflow: scroll;
 background-color: black;
}

.app-icon {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px 10px;;
  z-index: 2002;
}

.app-icon:hover {
  cursor: pointer;
}

.text-block {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  background-color: rgba(0,0,0,0.90);
  z-index: 2001;
  cursor: pointer;
}

.app-text {
  color: white;
  font-size: 13px;
  font-family: lato, roboto, sans-serif;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: left;
  z-index: 2001;
}

.sun-rise .app-icon {
  margin: 10px 10px;
  top: initial;
  right: 0;
  bottom: 0;
}

/*clock*/

.even {
    background-color: lightgrey;
}

.odd {
  background-color: #2F90EB;
}

.app {
  display: block;
}

.app::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

#clockwrapper {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  height: 100%;
  width: 100%;

}

#clock {
  width: 100%;
    margin: auto;
    top: 65%;
    left: 50%;
    position: absolute;
    font-family: courier, monospace;
    text-align: center;
    color: white;
    font-size: 200%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

#day {
  width: 100%;
    margin: auto;
    position: absolute;
    top: 35%;
    left: 50%;
    font-family: courier, monospace;
    text-align: center;
    color: white;
    font-size: 200%;
    text-transform: uppercase;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

#date {
    width: 100%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: courier, monospace;
    text-align: center;
    color: white;
    font-size: 290%;
    text-transform: uppercase;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

/*sunmoon*/

.sun-orb {
  background-color: #ffdd00;
  border: 10px solid #f1c40f;
  transition: .2s ease-in-out;
}

.sun-orb:hover {
    border: 20px solid #f1c40f;
    cursor: pointer;
}

.moon {
  background-color: #bdc3c7;
  border: 10px solid #eaeff2;
  transition: .2s ease-in-out;
}

.moon:hover {
 border: 20px solid #eaeff2;
 cursor: pointer;
}

.night-sunmoon {
    background-color: #2c3e50;
}

.day-sunmoon {
    background-color: #37d8e6;
}

#orb {
    width: 230px;
    height: 230px;
    border-radius: 100%;
    margin: auto;
    position: absolute;
    display: inline-block;
    top: 0; left: 0; bottom: 0; right: 0;
    z-index: 2;
    background-color: #blue;
    transition: .5s ease-in-out;
}

#sky {
    height: 100%;
    width: 100%;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    position: absolute;
    z-index: 1;
    transition: .5s ease-in-out;
}

#moonspot1 {
  display: block;
    position: absolute;
    top: 10%; right: 15%;
    height: 12%;
    width: 12%;
    border-radius: 100%;
    transition: .5s ease-in-out;
}

#moonspot2 {
  display: block;
  position: absolute;
  top: 10%; left: 40%;
    height: 25%;
    width: 25%;
    border-radius: 100%;
    transition: .5s ease-in-out;
}

#moonspot3 {
  display: block;
  position: absolute;
  bottom: 0%; left: 33%;
    height: 50%;
    width: 50%;
    border-radius: 100%;
    transition: .5s ease-in-out;
}

.visible {
    background-color: #eaeff2;
}

/*orbitalmenu*/

.app.orbital {
  background-color: #3a6d71;
}

.orbital-wrapper {
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  margin: auto auto;
  width: 95%;
  height: 95%;
  /*background-color: #3a6d71;*/
}

#orbital-inner-wrapper {
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  margin: auto auto;
  width: 95%;
  height: 95%;
}

.centre {
  display: block;
  margin: auto auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  background-color: #bdb058;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  z-index: 100;
}

.orbit {
  display: block;
  margin: auto auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 90px;
  max-height: 300px;
  padding-top: 0;
  padding-bottom: 0;
}

.small {
  display: block;
  position: relative;
  border-radius: 100%;
  width: 65px;
  height: 65px;
  margin: auto;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  z-index: 99;
}

.small:hover {
  cursor: pointer;
}

.circletwo {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

#orbitTwo {
  transform: rotate(60deg);
}

#orbitThree {
  transform: rotate(120deg);
}

#circleone {
  background-color: #1A383E;
}

#circletwo {
  background-color: #bdb058;
}

#circlethree {
  background-color: black;
}

#circlefour {
  background-color: #4EB5BD;
}

#circlefive {
  background-color: #3E391A;
}

#circlesix {
  background-color: white;
}

#orbitalbutton {
  display: block;
  margin: auto auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 201;
  color: #3a6d71;
  background-color: black;
  outline: none;
  padding: 10px, 10px;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 100%;
  transform: scale(0);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  font-family: lato;
  font-size: 15px;
  font-weight: bold;
}

#orbitalbutton:hover {
  cursor: pointer;
}

.orbiticon {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto auto;
  padding: 0 0;
  border-radius: 100%;
  overflow: hidden;
  color: #3a6d71;
}

.replay {
  font-weight: bold;
  font-size: 24px;
}

/*sun rise*/

.col-sm-12.sun-rise {
  padding: 0 0;
}

#container {
  position: relative;
  top: 0;
  left: 0;
  /*border: 5px solid black;*/
  width: 100%;
  height: 500px;
  z-index: 200;
  overflow: hidden;
}
.overlay-sunrise {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: .5s ease;
  background-color: black;
  z-index: 300;
}

.night {
  position: absolute;
  z-index: 99;
  width: 100%;
  height: 400px;
  background-color: black;
  opacity: 0;
}
.sky {
  position: relative;
  width: 100%;
  height: 400px;
  background: linear-gradient(to right, #d90000, orange);
  overflow: hidden;
}

.sun {
  position: absolute;
  z-index: 100;
  right: 25%;
  top: 15%;
  width: 200px;
  height: 200px;
  border-radius: 200%;
  background-color: #fcdc04;
  outline: none;
  box-shadow: 0 0 90px #fcdc04;
}

.sun:hover {
  cursor: pointer;
}

.ground {
  position: relative;
  bottom: 0;
  z-index: 101;
  width: 100%;
  height: 250px;
  background-color: black;
  box-shadow: 0 0 10px black;
}

.tree {
  position: absolute;
  width: 340px;
  left: 15%;
  bottom: 17%;
  z-index: 102;
}


.plane {
  position: absolute;
  top: 40%;
  right: -800px !important;
  width: 90px;
  z-index: 103;
}

.birds {
  position: absolute;
  top: 257px;
  left: 30%;
  width: 100px;
  z-index: 104;
}

button.sun-rise {
  display: block;
  position: absolute;
  z-index: 201;
  color: white;
  background-color: #fcdc04;
  outline: none;
  padding: 0 0;
  width: 50px;
  height: 50px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto auto;
  border: none;
  border-radius: 100%;
  transform: scale(0);
  font-family: lato;
  font-size: 0px;
  font-weight: bold;
  opacity: 0;
}

button.sun-rise:hover {
  cursor: pointer;
}

.sun-rise {
  background-color: none;
}

/*sprite animation*/

.app.cat {
  background-color: #FFFAED;
  z-index: 1;
  height: auto;
}

.tuna {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto auto;
  background: url('../assets/sprite_catwalk_small.png') 0 0 no-repeat;
  background-size: cover;
  height: 150px; width: 300px;
  animation:
  walk-cycle .9s steps(12) infinite;
}

.tuna-sit  {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto auto;
  height: 150px; width: 300px;
  background: url('../assets/sprite_catsit_small.png') 0 0 no-repeat;
  animation: sit-down 0.3s steps(5) forwards;
}

.tuna-walk  {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto auto;
  height: 150px; width: 300px;
  background: url('../assets/sprite_catsit_small.png') 0 -751px no-repeat;
  animation: walk 0.3s steps(5) forwards;
}

.tuna-run  {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto auto;
  height: 150px; width: 300px;
  background: url('../assets/sprite_catrun_small.png') 0 0 no-repeat;
  animation: run-cycle-one 1s steps(12) 1,
  run-cycle-two .6s steps(13) 1s infinite;
}

  /*animation:
    walk-cycle 1s steps(12) 4,
    sit-down steps(5) .5s 4s forwards;
  /* run sit-down after the walkcycle finishes
     using an animation delay.
     Use "steps(5)"; It should take about .5s. */

  /* Don't forget to set the fill-mode to forwards! */


@keyframes walk-cycle {
  0% {
    background-position: 0 0;
  }
  100% {background-position: 0 -1800px; }
}

@keyframes sit-down {
  0% { background-position: 0 0; }
  100% {background-position: 0 -751px; }
}

@keyframes walk {
  0% {
    background-position: 0 -751px;
  }
  100% {background-position: 0 0; }
}

@keyframes run-cycle-one {
  0% {
    background-position: 0 0;
  }
  100% {background-position: 0 -1795px; }
}

@keyframes run-cycle-two {
  0% {
    background-position: -300px 0;
  }
  100% {background-position: -300px -1945px; }
}

.cat-btn-wrapper {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  margin: auto auto;
  -webkit-transform: translate(0, 100px);
  -ms-transform: translate(0, 100px);
  transform: translate(0, 100px);
  width: 80%;
  height: 20px;
  text-align: center;
}

.cat-btns {
  display: inline;
  position: relative;
  margin: 5px;
  font-family: lato, roboto, sans-serif;
  font-size: 20px;
  line-height: 0;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.8);
  transition: .2s;
}
/*This code below creates the animated underline for cat buttons. It is created as a
Pseudo element, using ::after, and made invisible by using the scaleX() function set to 0.
The hover then changes this to 1 to make it appear. The transform origin property
determines how the line moves in and out.*/
.cat-btns:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  /*transform-origin: bottom right;*/
  transition: transform 0.25s ease-out;
  background-color: rgba(0, 0, 0, 1);
}

.cat-btns:hover:after {
  transform: scaleX(1);
  /*transform-origin: bottom left;*/
}

.cat-btns:hover {
  cursor: pointer;
}

/*whichVegWhen*/

#veg-input {
  transition: 0.2s ease;
}

.app.which-veg-when {
  background-color: #bdb058;
}
.app.which-veg-when i {
  color: rgba(255,255,255, 0.6);
}

.which-veg-when form {
  width: 300px;
  height: 300px;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto auto;
  padding: 20px 20px;
}

.which-veg-when h2 {
  margin-top: 30%;
  color: rgba(62,57,26, 1);
  font-family: lato, roboto, sans-serif;
  font-weight: bold;
}

.which-veg-when form input {
  /*;
  height: 40px;
  */
  width: 100%;
  font-size: 12px;
  font-family: lato, roboto, sans-serif;
  border: 0;
  background: transparent;
  outline: none; /*
  box-shadow: 0px 0px 5px rgba(0,0,0,1) inset;
  -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,1) inset;
  -moz-box-shadow: 0px 0px 5px rgba(0,0,0,1) inset;
  padding-left: 10px;
  z-index: 99;*/
}

#veg-output {
  display: none;
  color: rgba(62,57,26, 1);
  font-size: 13px;
  font-family: lato, roboto, sans-serif;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: left;
  z-index: 2001;
  transition: 0.2s ease;
}

#veg {
  max-height: 165px;
  overflow-y: scroll;
  overflow: -moz-scrollbars-vertical;
  font-size: 11px;
}

.which-veg-when button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 10px 10px;
  color: rgba(0,0,0,0.5);
  font-size: 25px;
  cursor: pointer;
  margin-right: 5px;
  border-radius: 100%;
  border: none;
  float: right;

  transition: .2s ease;
}

.which-veg-when button:hover {
  transform: scale(1.1);
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.15);
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.15);
}

#search-wrapper {
  width: 100%;
  height: 40px;
  border-radius: 55px;
  display: flex;
  align-items: center;
  box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15) inset, -6px -6px 10px -1px rgba(255,255,255, 0.7) inset;
  -webkit-box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15) inset, -6px -6px 10px -1px rgba(255,255,255, 0.7) inset;
  -moz-box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15) inset, -6px -6px 10px -1px rgba(255,255,255, 0.7) inset;
  padding-left: 10px;
  z-index: 99;
  background-color: white;
}

#search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 10px 10px;
  color: rgba(0,0,0,0.5);
  font-size: 25px;
  cursor: pointer;
  margin-right: 0px;
  border-radius: 100%;
}



/*Trammel*/

.trammel {
  background: #1A383E;
}
.trammel i {
  color: rgba(255,255,255, 0.6);
}

#trammel-circle {
  width: 230px;
  height: 230px;
  border-radius: 100%;
  margin: auto;
  position: absolute;
  display: inline-block;
  top: 0; left: 0; bottom: 0; right: 0;
  z-index: 2;
  background-color: #000;
  transition: .2s ease-in-out;
}

#trammel-circle:hover {
  cursor: pointer;
}

.dot-wrapper {
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  margin: auto auto;
  height: 230px;
  width: 17px;
  z-index: 2;
}

.trammel-dot {
  display: block;
  position: absolute;
  top: 0;
  height: 15px;
  width: 15px;
  border-radius: 100%;
  background: #bdb058;
  animation: dot-path 2s ease-in-out infinite alternate;
}

.trammel-line {
  display: none;
  position: absolute;
  top: 0; bottom: 0; right: 0; left: 0;
  margin: auto;
  width: 2px;
  height: 230px;
  border-left: 1.8px solid #1A383E;
  z-index: 1;
}

#line-two{
  transform: rotate(22.5deg);
}

#line-three{
  transform: rotate(45deg);
}

#line-four{
  transform: rotate(67.5deg);
}

#line-five{
  transform: rotate(90deg);
}
#line-six{
  transform: rotate(112.5deg);
}
#line-seven{
  transform: rotate(135deg);
}
#line-eight{
  transform: rotate(157.5deg);
}

.dot-wrapper:nth-child(2) {
  transform: rotate(22.5deg);
}

.dot-wrapper:nth-child(3) {
  transform: rotate(45deg);
}
.dot-wrapper:nth-child(4) {
  transform: rotate(67.5deg);
}
.dot-wrapper:nth-child(5) {
  transform: rotate(90deg);
}
.dot-wrapper:nth-child(6) {
  transform: rotate(112.5deg);
}
.dot-wrapper:nth-child(7) {
  transform: rotate(135deg);
}
.dot-wrapper:nth-child(8) {
  transform: rotate(157.5deg);
}

#dot-two {
  animation-delay: var(--trammel-dot-delay);
}

#dot-three {
  animation-delay: calc(var(--trammel-dot-delay) * 2);
}

#dot-four {
  animation-delay: calc(var(--trammel-dot-delay) * 3);
}

#dot-five {
  animation-delay: calc(var(--trammel-dot-delay) * 4);
}

#dot-six {
  animation-delay: calc(var(--trammel-dot-delay) * 5);
}

#dot-seven {
  animation-delay: calc(var(--trammel-dot-delay) * 6);
}

#dot-eight {
  animation-delay: calc(var(--trammel-dot-delay) * 7);
}

@keyframes dot-path {
  from {
    top: 0;
  }
  to {
    top: 215px;
  }
}

/*additional media queries*/

@media screen and (max-width: 1366px) {
#about-footer div {
  margin: auto 5px;
}
#about-footer img:first-of-type {
 margin-left: 5px;
 margin-right: 20px;
}
}
@media screen and (max-width: 839px) {
#about-img-wrap {
  position: absolute;
  bottom: 0;
  /*background: url("../images/about-me.jpg") no-repeat 60% bottom;*/
  background-size: cover;
  width: 100%;
  height: 93%;
  margin: 0 0;
  opacity: 0;
  z-index: 300;
  box-shadow: none;
 }
 #about-nav {
  padding: 0 0;
}
#about-nav nav {
  margin-right: 0;
  padding-right: 0;
}
}
@media screen and (max-width: 815px) and (max-height: 1000px) {
 #about-title, #about-title-two  {

   font-size: 25px;
 }
 .project-figure {
  display: block;
  opacity: 0;
  margin: 0 1%;
  padding: 0 1px;
  background: black;
  position: relative;
  width: 50%;
  height: 100%;
  max-width: 300px;
  cursor: pointer;
  transition: .2s ease;
  z-index: 500;
  overflow: hidden;
  box-shadow: 0px 0px 20px #8d8d8d;
  background: rgba(255, 255, 255, 0.2); /* Semi-transparent background */
  backdrop-filter: blur(10px); /* Blur effect */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Shadow for depth */
  color: black;
}

.project-figure:hover {
  background: black;
  position: relative;
  transform: scale(1.02);
  opacity: 1;

}

.projects h2 {
  color: white;
  font-family: lato, roboto, sans-serif;
  font-size: 15px;
  font-weight: 700;
  text-transformation: uppercase;
  margin: 10px 0;
  margin-left: 10px;

}

.projects p {
  max-width: 60%;
  color: white;
  font-size: 11px;
  font-family: lato, roboto, sans-serif;
  font-weight: 300;
  margin: -2px 0;
  padding-left: 15px;
  float: left;
}

.project-figure img {
  position: absolute;
  display: block;
  bottom: 5px;
  right: 5px;
  width: 20%;
  opacity: 1;
}





}
@media screen and (max-width: 550px) {
.skl {
  display: block;
  position: relative;
  width: 100px;
  height: 100px;
  padding: 5px 5px;
  margin: 2px auto;
  opacity: 0;
  overflow: hidden;
}
#about-title, #about-title-two {
   font-size: 15px;
 }
 #skill-btn {
  transform: rotate(270deg);
  position: absolute;
  left: -100px;
  top: 50%;
  bottom: 0;
  margin: auto;
  color: white;
  font-size: 17px;
  font-family: lato, roboto, sans-serif;
  font-weight: 300;
  text-align: center;
  padding: 5px;
  width: 100px;
  height: 35px;
  z-index:100;
  cursor: pointer;
  border: none;
  opacity: .8;
 }
}
@media screen and (max-width: 668px) and (max-height: 414px) {
#h-nav {
  margin-top: -30px;
}
.projects p {
  max-width: 60%;
  color: white;
  font-size: 10px;
  font-family: lato, roboto, sans-serif;
  font-weight: 300;
  margin: -2px 0;
  padding-left: 15px;
  float: left;
}
}

@media screen and (max-width: 1024px) and (max-height: 1366px) {
  .col-sm-4 {
    width: 50%;
  }
}

@media screen and (max-width: 896px) and (max-height: 450px) {
  .col-sm-4 {
    width: 50%;
  }
}

@media screen and (max-width: 450px) and (max-height: 896px) {
  .col-sm-4 {
    width: 100%;
  }
}

@media screen and (max-width: 767px) and (max-height: 450px) {
  .col-sm-4 {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .col-sm-4 {
    width: 100%;
  }
}

  @media screen and (max-width: 415px) and (max-height: 815px) {

   }
    #contact-nav {
    padding: 4% 3%;
  }
  #contact-nav nav {
    margin-right: 10px;
    padding-right: 0;
  }
}
@media screen and (max-width: 767px) and (max-height: 415px) {
  #logo-icon {
    margin: 30px 30px;
  }
}

@media only screen and (max-width: 485px) {
  .tree {
    margin: auto;
    left: 0;
    right: 0;
  }
  .sun {
    top: 10%;
  }
}


@media only screen and (max-width: 414px) {

  .plane {
    right: -410px;
  }
}

@media only screen and (max-width: 375px) {

  .plane {
    right: -380px;
  }
}

@media only screen and (max-width: 350px) {

  .plane {
    right: -350px;
  }
}

@media only screen and (max-height: 452px) {
  .projects p {
    font-size: 11px;
  }

}

@media only screen and (max-height: 359px) {
  .projects h2 {
    font-size: 20px;
  }
}


@media only screen and (max-height: 419px) {

  #container {
    height: 100vh;
  }

  .ground {
    position: absolute;
    bottom: 0;
    z-index: 101;
    width: 100%;
    height: 25px;
    background-color: black;
    box-shadow: 0 0 10px black;
  }

  .tree {
    position: absolute;
    top: initial;
    bottom: 0% !important;
    z-index: 102 !important;
  }


 .birds {
   position: absolute;
   top: initial;
   bottom: 50%;
   z-index: 104;
 }

 .plane {
   top: 30%;
 }

}

@media only screen and (max-height: 350px) {
  .plane {
    top: 20%;

  }
}

.examples-container {
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.examples {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  overflow-y: scroll;
  scrollbar-width: none;
  width: 100%;
  gap: 5px;
  padding: 70px 0 60px 0;
  max-width: 1072px;
}

.examples::-webkit-scrollbar {
    display: none; /* Hide the scrollbar */
}

.example {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 400px;
  padding:5px;
  cursor: pointer;
  transition: .3s ease;
  z-index: 500;
  overflow: hidden;
  box-shadow: 0px 0px 20px #8d8d8d;
  background: rgba(255, 255, 255, 0.2); /* Semi-transparent background */
  backdrop-filter: blur(10px); /* Blur effect */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Shadow for depth */
  color: black;
  font-family: lato, roboto, sans-serif;
  border-radius: 5px;
}

.example:hover {
  background: black;
  color: white;
}

.example img {
  width: 100%;
}

.example h2, .example p {
  text-align: center;
}

.example p {
  font-weight: 300;
}

#e-nav {
  position: absolute !important;
  top: 5px;
  right: 5px;
  margin: 0;
}

@media only screen and (max-width: 513px) {
  .example {
    width: 100%;
    height: 550px;
  }
}

/*@media only screen and (max-height: 896px) and (orientation: landscape) {
  .col-sm-12.sunrise {
    height:

  }
  .col-sm-4, .col-sm-4.cat {
    height: 320px;
  }
}*/

.examples a  {
  text-decoration: none  !important;
  text-decoration-color: transparent;
}

.examples a:link {
  text-decoration: none !important; /* Default state */
  text-decoration-color: transparent;
}

.examples a:visited {
  text-decoration: none !important; /* Visited state */
  text-decoration-color: transparent;
}

.examples a:hover, {
  text-decoration: none !important; /* Hover state */
  text-decoration-color: transparent;
}

.examples a:active {
  text-decoration: none !important; /* Active state */
  text-decoration-color: transparent;
}
